<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog>
    <targets>
      <target name="console" type="Console" layout="${message}"/>
      <target name="debugger" type="Debugger" layout="${message}"/>
    </targets>
    <rules>
      <logger name="output.log" minlevel="Debug" writeTo="console"/>
    </rules>
  </nlog>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TestBehaviour">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="Online"/>
              <defaultCertificate x509FindType="FindBySubjectName" findValue="E-Archive: Transport" storeLocation="CurrentUser" storeName="TrustedPeople"/>
            </serviceCertificate>
            <clientCertificate findValue="3B48F17B" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySerialNumber"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="EArchiveSecureReliable" transactionFlow="false" maxReceivedMessageSize="20971520" maxBufferPoolSize="1048576" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:05:00"/>
          <security mode="Message">
            <message clientCredentialType="Certificate" negotiateServiceCredential="false" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="EArchiveDefaultTest" address="http://tstearhiv.posta.si/ServiceA3.svc" binding="wsHttpBinding" bindingConfiguration="EArchiveSecureReliable" contract="IEArchive" behaviorConfiguration="TestBehaviour">
        <identity>
          <certificateReference isChainIncluded="false" x509FindType="FindBySubjectName" findValue="E-Archive: Transport" storeLocation="CurrentUser" storeName="TrustedPeople"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
